@import url('https://fonts.googleapis.com/css2?family=Foldit&display=swap');

.margin-top{
    margin-top: 20px;
}

.no-margin{
    margin-bottom: -10px;
}


html, body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,91,9,1) 35%, rgba(0,212,255,1) 100%);
}

.padding-lateral{
    padding-left: 25px;
    padding-right: 25px;
}

.foldit{
    font-family: 'Foldit', cursive;
    font-size: 5em !important;
}

.text-overflow{
    text-overflow: ellipsis;
}