@import url('https://fonts.googleapis.com/css2?family=Foldit&display=swap');

.margin-top{
    margin-top: 20px;
}

.no-margin{
    margin-bottom: -10px;
}


html, body{
    background-color: #ccc;
}

.padding-lateral{
    padding-left: 25px;
    padding-right: 25px;
}

.foldit{
    font-family: 'Foldit', cursive;
    font-size: 5em !important;
}